
:root{
    --main-backColor:white;
    --font-main :system-ui ;
    --boxShadow-main :0px 0px 14px -6px black;
  
}
/*  home content */
.box{
    width: 85%;
}
.box img{
    width: 90%;
}
.box:hover{
width: 85%;
}
.box:hover .images >img {
    width: 100%;
}

/*                  Event images */
#event{
    height: 120vh;
}


.event-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-con li {
    list-style: none;
    margin: 10px 35px;
}


/* Home conatiner*/
.container::before {
    content: "";
    z-index: -1;
    width: 91%;
    /* background: url(./img/event.jpg); */
    background-color: var(--main-backColor);
  
    position: absolute;
    background-size: 99vw 264vh;
    opacity: 0.9;
    height: 179%;
}
.container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58vh;
    position: relative;
}

h1 {
    font-weight: 900;
    
    font-size: 2rem;
    /* margin: 14px 213px; */
    padding: 14px;
    font-family: cursive;
}

.items p {
    font-family: cursive;
    font-weight: 900;
    font-size: 1rem;
    color: #da87a3;
}




/* store items in,lis */
.list-1{
    height: 100%;
}
.list-1 button {
    height: 1rem;
    width: 4rem;
    font-size: 0.6rem;
    border: none;
    font-family: revert;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    /* margin: 0px 0px 0px 147px; */
    font-weight: 500;
    box-shadow: 1px 1px 5px -4px;
}

.list-1 #item-2 button {
    height: 1rem;
    width: 4rem;
    font-size: 0.6rem;
    border: none;
    font-family: revert;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    /* margin: 0px 0px 0px 147px; */
    font-weight: 500;
    box-shadow: 1px 1px 5px -4px;
}

.list-1 h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    margin: 10px 10px;
    padding: 1px;
    font-size: 1.5rem;
}

.list-1 p {
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 16px 13px;
    padding: 1px;
    display: inline;
    font-size: 0.7rem;
}
/* bannner on last on tge home page */
.banner-1 p {
    color: #4de060;
    font-size: 1rem;
    padding: 15px;
    font-family: cursive;
    font-weight: 500;
}
.banner-1 h4 {
    font-size: 1rem;
    font-family: cursive;
    font-weight: 900;
    color: #35fbee;
    margin: 2px 1px;
}
.banner-1 {
    border: none;
    padding: 10px;
    height: 29vh;
    margin: 65px 0px;
    width: 45%;
    box-shadow: 1px 1px 17px -9px;
    border-radius: 5px;
    text-align: start;
    background-color: blueviolet;
}
.banner-1:hover {
    box-shadow: 1px 1px 40px -10px;
    width: 41%;
    height: 30vh;
}.container-2 {
    display: flex;
    position: relative;
    /* bottom: 10px; */
    top: 198px;
    height: 47vh;
    background: #ffd3d3;
    justify-content: space-around;
}
